#home {
  height: 80vh;
  display: flex;
  flex-direction: row;
}
.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00b4d8;
  clip-path: circle(600px at left -90px);
}
#section1 {
  width: 100%;
  height: 80vh;
  position: absolute;
  overflow: hidden;
  display: flex;
}
#section1 h2 {
  float: right;
  font-family: "Lato", sans-serif;
  margin-left: 8%;
  margin-top: 5%;
  width: 55%;
  font-size: 400%;
}
.r2d2 {
  position: absolute;
  font-family: "Archivo Black", sans-serif;
  top: -200px;
  right: 0;
  width: 40%;
  line-height: 95%;
  height: 80vh;
  background: #fff;
  color: #000;
  font-size: 1600%;
  text-align: center;
  mix-blend-mode: screen;
  font-weight: 900;
  transition: 0.3s;
}

.darkr2d2 {
  background: #000000;
  color: white;
  mix-blend-mode: darken;
}
/* TO CHANGE TO DARK MODE: */
/* #section1 h1{
        background: black;
        color: white;
        mix-blend-mode: darken;
    } */
/* IT SHOULD HAVE THESE PROPERTIES WHEN SWITCHED TO DARK MODE */

#section1 .vidElem {
  object-fit: cover;
  right: 0;
  position: absolute;
  height: 90%;
  width: 40%;
}
@media (max-width: 1291px) {
  #section1 h2 {
    margin-top: 3%;
    margin-left: 5%;
  }
}
@media (max-width: 991px) {
  #section1 h1 {
    font-size: 1200%;
    top: -130px;
    line-height: 82%;
  }
  #section1 h2 {
    font-size: 275%;
  }
  #section1 {
    height: 55vh;
  }
  .circle {
    clip-path: circle(400px at left -20px);
  }
}
@media (max-width: 691px) {
  #section1{
    flex-direction: column;
  }

  #section1 h1 {
    font-size: 750%;
    top: -85px;
    /* line-height: 80%;*/
    /* width: 100%; */ 
    /* display: none; */
  }
  .vidElem {
    /* display: none; */
  }
  #section1 h2 {
    font-size: 32px;
    /* margin-left: 10%;
    width: 80%;
    margin-top: 10%; */
  }
  .circle {
    clip-path: circle(250px at left -20px);
  }
}
