.cards {
  position: relative;
  width: 270px;
  height: 330px;
  display: flex;
  margin: 0 40px 40px 40px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  padding: 20px 40px 20px 20px;
  color: white;
  /* box-shadow: 0px 0px 12px 3px rgb(61, 61, 61); */
  box-shadow: 0px 0px 12px 3px rgb(170, 170, 170);
}
.darkCard {
  box-shadow: 0px 0px 12px 3px #060607;
}
.first {
  background: linear-gradient(135deg, #000280, #00b4d8);
}
.second {
  background: linear-gradient(135deg, #0063c0, #90e0ef);
}

.cards h2 {
  color: black;
  font-family: sans-serif;
  font-weight: bolder;
}
.cards img {
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translateX(-50%);
  transition: 0.5s;
  height: 350px;
}
.cards:hover img {
  left: 75%;
  height: 400px;
}
.review {
  position: relative;
  width: 60%;
  font-size: 20px;
  transition: 0.5s;
  opacity: 0;
  left: 20%;
}
.cards:hover .review {
  left: 0%;
  opacity: 1;
}

@media (max-width: 991px) {
  .cards {
    width: 480px;
    transition: 0.5s;
  }
}
@media (max-width: 490px) {
  .cards {
    width: 360px;
    height: 260px;
    transition: 0.5s;
  }
}
