#testimonials{
    padding-bottom: 5%;
    padding-top: 3%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.quote {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 28px;
    font-style: italic;
}
