nav {
  height: 6rem;
  width: 100vw;
  background-color: #131418;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 1000;
  transition: 0.3s;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
}
.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.navLinks {
  display: flex;
  list-style: none;
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.navLinks li a {
  color: inherit;
  text-decoration: none;
  margin: 0 0.7vw;
}
/* .navLinks li a:hover {
  color: #107e0c;
} */
.navLinks li {
  position: relative;
}
.navLinks li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #f2f5f7;
  position: absolute;
  top: 24px;
  transition: all ease-in-out 0.3s;
  margin: 0 0 0 9%;
}

.navLinks li a:hover::before {
  width: 80%;
}

/*Styling Buttons*/
/* .loginButton {
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;
}
.loginButton:hover {
  color: #131418;
  background-color: #f2f5f7;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.joinButton {
  color: #131418;
  background-color: #61dafb;
  border: 1.5px solid #61dafb;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.joinButton:hover {
  color: #f2f5f7;
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
} */

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .navLinks {
    position: fixed;
    /* background: #131418; */
    background: #000;
    height: 100vh;
    z-index: 1000;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .navLinks.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .navLinks li {
    opacity: 0;
  }
  .navLinks li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .navLinks li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .navLinks li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .navLinks li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .navLinks li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .navLinks li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .navLinks li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle{
  z-index: 10000;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
