.slideImg {
  width: 100vw;
  height: 85vh;
  object-fit: cover;
}

.slideContent {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  color: whitesmoke;
  transform: translate(-50%, -50%);
  font-size: 36px;
  text-align: center;
}


/* .swiperContainer {
  background-color: white !important;
  color: white !important;
} */
